
<footer class="footer">
    
    <span class="todo-count"><strong> {{ pendientes }} </strong> tareas pendientes</span>
    
    <ul class="filters">

      <li *ngFor="let filtro of filtros"
          (click)="cambiarFiltro( filtro )">
        
        <a href="#/"
           [class.selected]="filtro === filtroActual"> 
          {{ filtro | titlecase }}
        </a>
      </li>

    </ul>
    
    <button class="clear-completed"
          (click)="limpiarCompletados()">Limpiar completados</button>
</footer>